// @import url('./style/index.less');

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-variant-numeric: tabular-nums;
}

// 必选 红色星号
.mustFlag::before {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
